# =========================================
# PYTHON
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================
# VIRTUAL ENVIRONMENTS
# =========================================

venv/
env/
ENV/


# =========================================
# STREAMLIT SECRETS
# =========================================

.streamlit/secrets.toml


# =========================================
# ENV FILES
# =========================================

.env


# =========================================
# MODEL / CACHE FILES
# =========================================

embeddings/
project_checkpoints/
qdrant_snapshots/


# =========================================
# PICKLE FILES
# =========================================

*.pkl


# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db


# =========================================
# IDE FILES
# =========================================

.vscode/
.idea/


# =========================================
# LOG FILES
# =========================================

*.log


# =========================================
# SQLITE / DATABASE
# =========================================

*.db
*.sqlite3


# =========================================
# TORCH / HF CACHE
# =========================================

.cache/
huggingface/